<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <form action="/AddStrings" method="post"> <!--this will add functionality to Add Button-->
            <input type="text" name="First String" required placeholder="Enter your first string"> <!--creates an input box for name-->
            <input type="text" name = "Second String" required placeholder="Enter your second string"> <!--creates an input box for email-->
            <button type="submit">Add</button> <!--creates a button with title Add that allows you to submit-->
        </form>
    </body>
</html>